<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Primary Meta Tags -->
  <title>Sheggam Harshith Portfolio</title>
  <meta name="title" content="Sheggam Harshith Portfolio">
  <meta name="description" content="Hey there, I am a Python developer looking for python/web developer roles. ">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sheggamharshith.herokuapp.com/">
  <meta property="og:title" content="Sheggam Harshith Portfolio">
  <meta property="og:description" content="Hey there, I am a Python developer looking for python/web developer roles. ">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sheggamharshith.herokuapp.com/">
  <meta property="twitter:title" content="Sheggam Harshith Portfolio">
  <meta property="twitter:description" content="Hey there, I am a Python developer looking for python/web developer roles. ">
  <meta property="twitter:image" content="">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>

<body class="bg-white font-mono">
  {% block header%} {% include "Base/header.html" %} {% endblock%} {% block
    body %} {% endblock body %} {% include 'Base/footer.html' %}
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% block customScript %}{% endblock customScript %}

</html>
