<div
  class="border-b-2 border-gray-600 text-4xl font-medium mx-auto max-w-7xl p-2"
  id="aboutme"
>
  About Me
</div>

<div
  class="
    mx-auto
    max-w-7xl
    p-4
    my-10
    justify-center
    text-justify text-md
    md:text-xl
  "
  data-aos="fade-in"
>
  I'm a recent Computer Science Engineering graduate. I'm passionate about what
  I do, and I'm also interested in developing applications that are tailored to
  my clients' specific business needs. I have a consistent source of inspiration
  that pushes me to give it my all in each project. My prior project sparked a
  desire in me to challenge myself every day, allowing me to gain new talents
</div>
