<div class="border-b-2 border-gray-600 text-4xl font-medium mx-auto max-w-7xl p-2" id="aboutme">
  About Me
</div>

<div class="
    mx-auto
    max-w-7xl
    p-4
    my-10
    justify-center
    text-justify text-md
    md:text-xl
  " data-aos="fade-in">
 I'm Harshith Sheggam, a driven Software Engineer with a profound commitment to leveraging technology for societal betterment.
  Currently pursuing my Master's in Computer Science at the College of Staten Island, I specialize in backend development using Python, 
  Go, and Rust, with over three years of hands-on experience. My career has been marked by achievements such as 
  leading the software development lifecycle at FairShares, enhancing security measures, and optimizing system architecture. 
</div>
